<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.flyingpie.steamdroid"
      android:theme="@style/SteamStyle"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10"></uses-sdk>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE"/>
	
    <application android:label="@string/app_name" android:icon="@drawable/launcher_icon">
        <activity android:name=".app.Main">
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".app.Friends" android:label="@string/app_name"></activity>
        <activity android:name=".app.Chat"></activity>
        <activity android:name=".app.Preferences"></activity>
        <activity android:name=".app.ChangeState"></activity>
        
        <service android:name=".service.SteamService"></service>		
    </application>
</manifest>